<% @stocks.each do |stock| %>
  <% cache stock do %>
    <%= button_to search_stocks_path, params: {symbol: stock.symbol} , :class => "grid grid-cols-[35px_1fr_1fr_1fr_1fr_1fr] items-center gap-4 hover:bg-neutral-400/10 p-4 w-full" do %>
      <span class="text-2xl">&#127820;</span>
      <span class="font-semibold text-left"><%= stock.company_name %>
        <i class="text-sm opacity-60 not-italic"><%= stock.symbol %></i>
      </span>
      <span class="text-sm"><%=
          number_to_currency(stock.latest_price, precision: 2)
        %></span>
      <span
        class="text-sm <%= stock.change_percent_s.to_i < 0 ? 'text-red-400' : 'text-green-400' %>"
      >
        <%= stock.change_percent_s %>
      </span>
      <span class="text-sm"><%=
          custom_formatter(stock.latest_volume, 6, 'stock')
        %></span>
      <span class="text-sm"><%=
          custom_formatter(stock.market_cap.to_i)
        %></span>
    <% end %>
  <% end %>
<% end %>
