<p><%= @stock.name %></p>
<p><%= @stock.symbol %></p>
<p><%= @quote.latest_price %></p>

<p>
  you own
  <span><%= "#{@shares} share#{'s' if @shares > 0 && @shares < 1}" %></span>
</p>

<%= link_to 'buy', buy_stock_path(@stock.symbol) %>
<%= link_to 'sell', sell_stock_path(@stock.symbol) %>

<% @red = 'hsl(352,91%,62%)' %>
<% @green = 'hsl(157,87%,43%)' %>
<%=
  candlestick_chart(
    @chart_data,
    class: 'box',
    theme: 'sakura',
    options: {
      series: {
        itemStyle: {
          color: @green,
          color0: @red,
          borderColor: @green,
          borderColor0: @red,
        },
      },
      xAxis: {
        axisLine: {
          onZero: false,
        },
        splitLine: {
          show: false,
        },
        min: 'dataMin',
        max: 'dataMax',
        axisTick: {
          alignWithLabel: true,
        },
      },
      yAxis: {
        scale: true,
        splitArea: {
          show: true,
        },
      },
      dataZoom: [
        { type: 'inside', start: 50, end: 100 },
        { show: true, type: 'slider', top: '90%', start: 50, end: 100 },
      ],
    },
  )
%>
