<p><%= @stock.name %></p>
<p><%= @stock.symbol %></p>
<p><%= @quote.latest_price %></p>

<p>
  you own
  <span><%= "#{@shares} share#{'s' if @shares > 0 && @shares < 1}" %></span>
</p>

<%= link_to 'buy', buy_stock_path(@stock.symbol) %>
<%= link_to 'sell', sell_stock_path(@stock.symbol) %>

<%=
  candlestick_chart(
    {
      '2017-10-24' => [20, 34, 10, 38],
      '2017-10-25' => [40, 35, 30, 50],
      '2017-10-26' => [31, 38, 33, 44],
      '2017-10-27' => [38, 15, 5, 42],
    },
    class: 'box',
    theme: 'roma',
    options: {
      xAxis: {
        axisTick: {
          alignWithLabel: true,
        },
      },
    },
  )
%>
