<section class="py-2">
  <div class="wrapper | grid md:grid-cols-[750px,1fr]">
    <div>
    <%if !logged_in?%>
        <h1 class="text-2xl font-semibold">
          Start hoarding unspeakable amount of non-existing stocks.
        </h1>
        <h2>Create your account today!</h2>
    <%else%>
      <div class='flex justify-between w-[calc(100%_-_4rem)] mx-auto p-8 rounded-lg'>
        <h1 class="text-2xl font-semibold">Create monkey!</h1>
        <%= link_to "Cancel", admin_path, class: 'yellow-button'%>
      </div>
    <%end%>
      <%= form_with model: @user, url: users_path, class: "w-[calc(100%_-_4rem)] mx-auto p-8 rounded-lg" do |f| %>
        <div class="mb-4">
          <%= f.label :first_name, class: 'form-label' %>
          <%= f.text_field :first_name, class: 'form-field', id: 'first_name' %>
        </div>
        <div class="mb-4">
          <%= f.label :last_name, class: 'form-label' %>
          <%= f.text_field :last_name, class: 'form-field', id: 'last_name' %>
        </div>
        <div class="mb-4">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, class: 'form-field', id: 'email' %>
        </div>
        <div class="mb-4">
          <%= f.label :password, class: 'form-label' %>
          <%= f.password_field :password, class: 'form-field', id: 'password' %>
        </div>
        <div class="mb-4">
          <%= f.label :password_confirmation, class: 'form-label' %>
          <%= f.password_field :password_confirmation, class: 'form-field',id: 'password_confirmation'
          %>
        </div>
        <% if logged_in? %>
          <%= f.submit "Create", class: 'yellow-button' %>
        <% else %>
          <%= f.submit "Register", class: 'yellow-button' %>
        <% end %>
      <% end %>
    </div>
    <div>
      <ul class="text-red-400 p-4 text-sm">
        <% if @user.errors.full_messages.any? %>
          <% @user.errors.full_messages.each do |error_message| %>
            <li><%= error_message %></li>
          <% end %>
        <% end %>
      </ul>
      <div
        class="bg-neutral-200/80 grid place-items-center rounded-md min-h-[50vh]"
      >
        <p class="text-neutral-800">placeholder</p>
      </div>
    </div>
  </div>
</section>
