<h1 class="text-4xl font-bold text-black mb-8">Sign Up</h1>
<%= form_with model: @user, url: '/users', class: "bg-black text-white p-8 rounded-lg" do |f| %>
  <% if @user.errors.full_messages.any? %>
    <% @user.errors.full_messages.each do |error_message| %>
      <%= error_message if @user.errors.full_messages.first == error_message %> <br />
    <% end %>
  <% end %>
  <div class="mb-4">
    <%= f.label :first_name, class: "block font-bold mb-2" %>
    <%= f.text_field :first_name, class: "px-3 py-2 bg-gray-700 rounded-md w-full", id: "first_name" %>
  </div>
  <div class="mb-4">
    <%= f.label :last_name, class: "block font-bold mb-2" %>
    <%= f.text_field :last_name, class: "px-3 py-2 bg-gray-700 rounded-md w-full", id: "last_name" %>
  </div>
  <div class="mb-4">
    <%= f.label :email, class: "block font-bold mb-2" %>
    <%= f.email_field :email, class: "px-3 py-2 bg-gray-700 rounded-md w-full", id: "email" %>
  </div>
  <div class="mb-4">
    <%= f.label :password, class: "block font-bold mb-2" %>
    <%= f.password_field :password, class: "px-3 py-2 bg-gray-700 rounded-md w-full", id: "password" %>
  </div>
  <div class="mb-4">
    <%= f.label :password_confirmation, class: "block font-bold mb-2" %>
    <%= f.password_field :password_confirmation, class: "px-3 py-2 bg-gray-700 rounded-md w-full", id: "password_confirmation" %>
  </div>
<%= f.submit "Register", class: "bg-red-800 text-white py-2 px-4 rounded-md hover:bg-red-700 cursor-pointer" %>
<% end %>