<section class="py-16">
  <div class="wrapper | grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="grid gap-4">
      <h1 class="text-4xl font-bold">
        Buy, Trade, and Hold Millions <br />
        of Fake Stocks, Hopes, and Dreams
      </h1>
      <p class="mt-4">A project by Robert & Last</p>
      <%=
        link_to 'Sign Up',
                signup_path,
                class:
                  'yellow-button | inline-block max-w-[500px] text-center font-semibold'
      %>
    </div>
    <div class="bg-neutral-200/80 grid place-items-center rounded-md">
      <p class="text-neutral-800">placeholder</p>
    </div>
  </div>
</section>
<section>
  <div class="wrapper">
    <h2 class="text-4xl font-bold mb-12">Most Active Companies</h2>
    <ul class="flex flex-col justify-start items-stretch">
      <li
        class="grid grid-cols-[35px_1fr_1fr_1fr_1fr] items-center text-sm opacity-60 px-4 py-2"
      >
        <span> </span>
        <span>Name</span>
        <span>Latest Price</span>
        <span>24h Change</span>
        <span>Market Cap</span>
      </li>
      <% @active_market.each do |stock| %>
        <a
          href="<%= stocks_show_path(stock.symbol) %>"
          class="grid grid-cols-[35px_1fr_1fr_1fr_1fr] items-center hover:bg-neutral-700 p-4"
        >
          <span class="text-2xl">&#127820;</span>
          <!-- <span class="text-2xl">[object Object]</span> -->
          <span class="font-semibol"><%= stock.company_name %>
            <i class="text-sm opacity-60 not-italic"><%= stock.symbol %></i>
          </span>
          <span><%= stock.latest_price %></span>
          <span><%= stock.change_percent_s %></span>
          <span><%= stock.market_cap %></span>
        </a>
      <% end %>
    </ul>
  </div>
</section>
