<section class="py-16">
  <div class="wrapper | grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="grid gap-4">
      <h1 class="text-4xl font-bold">
        Buy, Trade, and Hold Millions <br />
        of Fake Stocks, Hopes, and Dreams
      </h1>
      <p class="mt-4">A project by Robert & Last</p>
      <%=
        link_to 'Sign Up',
                signup_path,
                class:
                  'yellow-button | inline-block max-w-[500px] text-center font-semibold'
      %>
    </div>
    <div class="bg-neutral-200/80 grid place-items-center rounded-md">
      <p class="text-neutral-800">placeholder</p>
    </div>
  </div>
</section>
<section class="py-12">
  <div class="wrapper">
    <h2 class="text-4xl font-bold mb-12">Most Active Companies</h2>
    <ul class="flex flex-col justify-start items-stretch">
      <li
        class="grid grid-cols-[35px_1fr_1fr_1fr_1fr] items-center gap-4 text-sm opacity-60 px-4 py-2 text-center"
      >
        <span> </span>
        <span class="text-left">Name</span>
        <span>Latest Price</span>
        <span>24h Change</span>
        <span>Market Cap</span>
      </li>
      <% if @active_market.empty? %>
        <li class="py-16">
          <%=
            image_tag 'not-found-data.png',
                      alt: 'Data not found',
                      class: 'mx-auto mb-4'
          %>
          <p class="text-center text-xs opacity-40">No records found.</p>
        </li>
      <% else %>
        <% @active_market.each do |stock| %>
          <% cache stock do %>
            <%= button_to stocks_search_path, params: {symbol: stock.symbol} , :class => "grid grid-cols-[35px_1fr_1fr_1fr_1fr] items-center gap-4 hover:bg-neutral-400/10 p-4 w-full" do %>
              <span class="text-2xl">&#127820;</span>
              <span class="font-semibold text-left"><%= stock.company_name %>
                <i class="text-sm opacity-60 not-italic"><%= stock.symbol %></i>
              </span>
              <span class="text-sm"><%=
                  number_to_currency(stock.latest_price, precision: 2)
                %></span>
              <span
                class="text-sm <%= stock.change_percent_s.to_i < 0 ? 'text-red-400' : 'text-green-400' %>"
              >
                <%= stock.change_percent_s %>
              </span>
              <span class="text-sm"><%=
                  custom_formatter(stock.market_cap.to_i)
                %></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>
<section class="py-16 bg-neutral-200/20 dark:bg-neutral-950">
  <div class="wrapper | text-center grid gap-12 justify-center">
    <h2 class="font-bold text-4xl">Hoard bananas today!</h2>
    <%=
      link_to 'Sign Up Now', signup_path, class: 'yellow-button | font-semibold'
    %>
  </div>
</section>
