<% provide(:title, 'Market Overview') %>

<section class="py-8">
  <div class="wrapper">
    <h1 class="text-4xl font-bold mb-8">Market Overview</h1>
    <div class="flex flex-wrap justify-between items-start gap-0">
      <% if @active_market.empty? %>
        <% nil %>
      <% else %>
        <div class="market-list-card">
          <p>Most Active</p>
          <ul>
            <% @active_market.take(3).each do |stock| %>
              <% cache stock do %>
                <%= button_to stocks_search_path, params: {symbol: stock.symbol} do %>
                  <span class="">&#127820;</span>
                  <span class="font-semibold text-left"><%=
                      stock.symbol
                    %></span>
                  <span class=""><%=
                      number_to_currency(stock.latest_price, precision: 2)
                    %></span>
                  <span
                    class="<%= stock.change_percent_s.to_i < 0 ? 'text-red-400' : 'text-green-400' %>"
                  >
                    <%= stock.change_percent_s %>
                  </span>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if @gainers_market.empty? %>
        <% nil %>
      <% else %>
        <div class="market-list-card">
          <p>Top Gainers</p>
          <ul>
            <% @gainers_market.take(3).each do |stock| %>
              <% cache stock do %>
                <%= button_to stocks_search_path, params: {symbol: stock.symbol} do %>
                  <span class="">&#127820;</span>
                  <span class="font-semibold text-left"><%=
                      stock.symbol
                    %></span>
                  <span class=""><%=
                      number_to_currency(stock.latest_price, precision: 2)
                    %></span>
                  <span
                    class="<%= stock.change_percent_s.to_i < 0 ? 'text-red-400' : 'text-green-400' %>"
                  >
                    <%= stock.change_percent_s %>
                  </span>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if @top_volume_market.empty? %>
        <% nil %>
      <% else %>
        <div class="market-list-card">
          <p>Top Volume</p>
          <ul>
            <% @top_volume_market.take(3).each do |stock| %>
              <% cache stock do %>
                <%= button_to stocks_search_path, params: {symbol: stock.symbol} do %>
                  <span class="">&#127820;</span>
                  <span class="font-semibold text-left"><%=
                      stock.symbol
                    %></span>
                  <span class=""><%=
                      number_to_currency(stock.latest_price, precision: 2)
                    %></span>
                  <span
                    class="<%= stock.change_percent_s.to_i < 0 ? 'text-red-400' : 'text-green-400' %>"
                  >
                    <%= stock.change_percent_s %>
                  </span>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if @losers_market.empty? %>
        <% nil %>
      <% else %>
        <div class="market-list-card">
          <p>Losers</p>
          <ul>
            <% @losers_market.take(3).each do |stock| %>
              <% cache stock do %>
                <%= button_to stocks_search_path, params: {symbol: stock.symbol} do %>
                  <span class="">&#127820;</span>
                  <span class="font-semibold text-left"><%=
                      stock.symbol
                    %></span>
                  <span class=""><%=
                      number_to_currency(stock.latest_price, precision: 2)
                    %></span>
                  <span
                    class="<%= stock.change_percent_s.to_i < 0 ? 'text-red-400' : 'text-green-400' %>"
                  >
                    <%= stock.change_percent_s %>
                  </span>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="py-8 bg-neutral-200/10 overflow-hidden rounded-full mb-16">
  <div class="wrapper">
    <div class="navigation">
      <div class="flex flex-wrap gap-0 p-4">
        <input
          type="radio"
          class="stock-list-selector"
          name="show-stock-list"
          id="owned-radio"
        />
        <input
          type="radio"
          class="stock-list-selector"
          name="show-stock-list"
          id="hot-radio"
        />
        <label
          id="owned-label"
          for="owned-radio"
          class="gray-label-button | text-lg font-semibold"
        >
          <span>&#11088; </span> Favorites
        </label>
        <label
          id="hot-label"
          for="hot-radio"
          class="gray-label-button | text-lg font-semibold"
        >
          All Stocks
        </label>
      </div>
      <%= form_tag stocks_lookup_path, method: :post do %>
        <%= text_field_tag :query, '', class: 'bg-transparent' %>
        <%= submit_tag 'Search' %>
      <% end %>
    </div>
    <div class="tables" data-turbo-target="stocks-results-table">
      <p>test table</p>
    </div>
  </div>
</section>
