<p>BUY STOCK</p>
<p><%= @stock.symbol %></p>
<p><%= @stock.name %></p>
<p id="latest-price"><%= @quote.latest_price %></p>
<%= form_with scope: @transaction, url: save_transaction_path do |form| %>
  <%= form.hidden_field :stock_id, value: @stock.id %>
  <%= form.hidden_field :transaction_type, value: 'buy' %>
  <%= form.hidden_field :price_per_quantity, value: @quote.latest_price %>
  <%=
    form.number_field :amount,
                      step: :any,
                      onkeyup: 'convertCurrency()',
                      id: 'amount'
  %>
  <p id="quantity-preview"></p>
  <%= form.submit 'buy now' %>
<% end %>

<script>
  const amountField = document.querySelector("#amount");
  const latestPrice = document.querySelector("#latest-price");
  const quantityPreview = document.querySelector("#quantity-preview");
  function convertCurrency() {
    quantityPreview.textContent = (
      parseInt(amountField.value) / parseInt(latestPrice.textContent)
    ).toFixed(2);
  }
</script>
