<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%=
      stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload'
    %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'monkey.png' %>
  </head>

  <body
    class="relative bg-white dark:bg-neutral-900 text-neutral-900 dark:text-slate-100"
  >
    <header class="relative">
      <div class="flex flex-wrap-reverse items-center gap-0 px-4 py-4">
        <div class="flex flex-wrap items-center gap-4">
          <span class="text-4xl mt-[-4px] mr-[-14px]">&#128053;</span>
          <%=
            link_to 'Bananance',
                    root_path,
                    class: 'uppercase font-bold text-xl text-yellow-500'
          %>
          <% unless [signup_path, sign_in_path, sessions_path, users_path].include?(request.path) %>
            <span class="font-thin text-2xl">|</span>
            <%= link_to 'Dashboard', dashboard_path %>
            <%= link_to 'Market', market_path %>
            <%= link_to 'Portfolio', root_path %>
            <%= link_to 'Transactions', transactions_path %>
            <%= link_to 'Funds', wallet_path %>
          <% end %>
        </div>
        <div class="flex flex-wrap gap-4 items-center ml-auto text-sm">
          <% if logged_in? %>
            <p class="">
              Hello, <span><%= current_user.first_name %></span>
            </p>
            <span class="font-thin text-xl">|</span>
            <%=
              link_to 'Log Out',
                      sign_out_path,
                      method: :delete,
                      class: 'font-light text-xs'
            %>
          <% else %>
            <%= link_to 'Log In', sign_in_path, class: 'py-2 px-4 rounded' %>
            <% unless request.path == signup_path %>
              <%= link_to 'Register', signup_path, class: 'yellow-button' %>
            <% end %>
          <% end %>
          <button type="button" class="ml-4 mr-2">
            <span>&#127762;</span>
            <span class="sr-only">Toggle Dark Mode</span>
          </button>
        </div>
      </div>
    </header>
    <% if flash[:error] %>
      <ul
        class="fixed top-[20px] right-[50%] translate-x-[50%] text-center flex flex-col items-center gap-4 cursor-none"
      >
        <% flash[:error].each do |message| %>
          <li class="error-message"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <% if flash[:success] %>
      <ul
        class="fixed top-[20px] right-1/2 translate-x-[50%] text-center flex flex-col items-center gap-4 cursor-none"
      >
        <% flash[:success].each do |message| %>
          <li class="success-message"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <main class="">
      <%= yield %>
    </main>
    <footer>
      <section class="">
        <div class="wrapper | border-t-2 border-neutral-400/20 py-4">
          <p class="text-center text-xs opacity-60">
            Bananance © <%= Time.now.year %>
          </p>
        </div>
      </section>
    </footer>
  </body>
</html>
